{% extends 'base.html' %}
{% block content %}
{%load socialaccount %}
{% providers_media_js %}


<body>
{%if user.is_authenticated %}
<div>
    <p>{{ user.username }} 님</p>
    <a href="/accounts/logout" class="a-auth">로그아웃</a>
</div>

{%else%}

<div id= "btn_group">
    <h1>LOGIN PAGE</h1>
    <hr>
    <a href="/accounts/signup" class="btn btn-light" >회원가입</a>
    <a href="/accounts/login/" class="btn btn-light" >로그인</a>
    <a href="{% provider_login_url 'google' %}" class="btn btn-light">구글 로그인</a>
</div>

{%endif%}
</body>

{% endblock %}
