{% extends 'base.html' %}
{% block content %}
<style>
    h2{
        color:white;
        font-family: 'Do Hyeon', sans-serif;
        text-align: right;
        margin-top:30px;
        margin-right: 25%;
    }
    input,
        textarea {
            font-family: 'Do Hyeon', sans-serif;
            width: 50%;
            border: none;
            background-color: white;
            border-radius: 20px;
            padding: 10px;
            margin: 0px 50px;
            font-size: 18px;
            color: black;
        }
</style>
<h1>{{review.post_title}}</h1>
<div>
Movie:{{review.movie_title}}
<br>
Author:{{review.author}}
<br>
Date:{{review.pub_date}}
</div>
<hr>

{% if review.image %}
<p><img src="{{review.image.url}}" alt="" width="60%" height=""></p>
{% endif %}

<p>{{review.body}}</p>
<a href="{% url 'edit' review.id %}" class="btn btn-light">Modify</a>
<a href="{% url 'delete' review.id %}" class="btn btn-light">Delete</a>


{% for comment in comments %}
<br>
<hr>
<h2><p>작성자: {{comment.author}}</p>
<p>내용: {{comment.body}}</p></h2>
<div style="margin-left: 80px;">
    {% for re_comment in re_comments %}
    {% if comment == re_comment.comment_id %}
    <p>⤷ 작성자: {{re_comment.author}}</p>
    <p> &nbsp; 내용: {{re_comment.body}}</p>
    <br>
    {% endif %}
    {% endfor %}
    <form action="{% url 're_comment' review.id comment.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-light">대댓글쓰기</button>
    </form>
</div>
{% endfor %}

<hr>
<div style="margin-right: 200px">
    <form action="{% url 'comment' review.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-light">댓글쓰기</button>
    </form>
</div>
{% endblock %}