{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
    Welcome! {{user.username}}!
    {% endif %}
    
    <h1>MOVIE REVIEW</h1>
    <div class="container">
    <br>
    {% for review in posts %}
         <div>
        <h3>{{review.post_title}}</h3>
         {{review.id}}
         {% if review.image %}
         <p class = "image"><img src="{{review.image_thumbnail.url}}" height="200" width="400"></p>
         {% endif %}
         {{review.author}}
         {{review.summary}} <a href = "{%url 'detail' review.id %}">...more</a>
        <br>
         </div>
    </div>
    {% endfor %}

    <!--검색창입니다. 디자인 하실 때 필요한 부분으로 옮겨주세요~~-->
    <form action="{% url 'search' %}" method="get">
        <input type="search" placeholder="Search" aria-label="Search" name="query" value="{{query}}">
        <button type="submit">Search</button>
    </form>

    {% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
    {% endif %}

    <!-- 3of4  -->
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    <!-- Next Last -->
    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
   
    {% endif %}
    </div>
{% endblock %}